<h1 class="mt-3">View donation item request</h1>
<div class="rounded shadow bg-light p-3">
  <a href="/requests" class="btn btn-primary mb-3">Go back</a>
  <h2>Request Information</h2>
  <p><strong>Date Requested:</strong> {{request.dateRequested}}</p>
  <p><strong>Request Status:</strong> {{request.status}}</p>
  <p><strong>Delivery Method:</strong> {{request.deliveryMethod}}</p>
  <p><strong>Additional Notes:</strong> {{request.additionalNotes}}</p>

  <h2>Requested by</h2>
  <p><strong>Name:</strong> {{user.firstname}} {{user.lastname}}</p>
  <p><strong>Email:</strong> {{user.email}}</p>
  <p><strong>Phone:</strong> {{user.mobile}}</p>

  {{#if (eq request.deliveryMethod "COLLECT")}}
    <h2>Collection Information</h2>
    <p>The donation should be collected from this location between the following
      times.</p>
    <p><strong>Collection Address:</strong>
      {{donationItem.address.street}},
      {{donationItem.address.city}},
      {{donationItem.address.postcode}}</p>

    Has this item been collected?
  {{/if}}

  {{#if (eq request.deliveryMethod "RECIEVE")}}
    <h2>Delivery Information</h2>
    <p>The donation should be delivered to this location between the following
      times.</p>
    <p><strong>Delivery Address:</strong>
      {{request.address.street}},
      {{request.address.city}},
      {{request.address.postcode}}</p>

    Has this item been delivered?
  {{/if}}
  <form method="post" action="/requests/{{request._id}}/complete">
    <button type="submit" class="btn btn-success">Complete</button>
  </form>
</div>