<div class="row mt-3">
  <div class="col-md-4 col-lg-3 mb-3">
  <div class="rounded p-4 bg-light shadow">
  <form action="/shop" method="get">
    <div class="mb-3">
      <label for="searchTerm" class="form-label">Search</label>
      <input
        type="text"
        name="searchTerm"
        value="{{query.searchTerm}}"
        class="form-control"
      />
    </div>
    <div class="mb-3">
      <label for="category" class="form-label">Category</label>
      <select class="form-select" name="category">
        <option value="">ALL</option>
        {{#each categoryOptions}}
          <option value="{{this}}" {{#if (eq this ../query.category)}}selected{{/if}}>{{this}}</option>
        {{/each}}
      </select>
    </div>
    <div class="mb-3">
      <label for="daysAfterBestBefore" class="form-label">Days after best before</label>
      <input
        type="number"
        name="daysAfterBestBefore"
        value="{{query.daysAfterBestBefore}}"
        class="form-control"
      />
      <div class="form-text">How many days after a best before date are you willing to accept.</div>
    </div>

    <div class="mb-3">
      <label for="daysAfterProduction" class="form-label">Days after production</label>
      <input
        type="number"
        name="daysAfterProduction"
        value="{{query.daysAfterProduction}}"
        class="form-control"
      />
      <div class="form-text">How many days after the production of a item are you willing to accept.</div>
    </div>

    <button type="submit" class="btn btn-secondary align-self-end">Update</button>
  </form>
  </div>

  </div>
  <div class="col-md-8 col-lg-9">
  {{#if shopItems}}
      <p>Showing all {{shopItems.length}} results</p>
      {{#each shopItems}}
      <a href="/shop/{{this._id}}" class="text-decoration-none text-black">
          <div class="bg-light rounded mb-3 shadow">
            <div class="row g-0">
              <div class="col-md-4">
            <img
              src="/uploads/{{this.imageFilename}}"
              class="img-fluid rounded-start"
              alt="{{this.name}}"
            />
            </div>
            <div class="col-md-8 p-3">
              {{#if this.expiringToday }}
              <span class="badge text-bg-danger float-end">EXPIRING TODAY</span>
              {{/if}}
              <h5>{{this.name}}</h5>
              <p>
                {{this.measurement.value}}
                {{this.measurement.type}} Available<br>
                {{this.dateInfo.dateType}}
                {{formatDate this.dateInfo.date "DD MM YYYY"}}
              </p>
            </div>
          </div>
        </div>
        </a>
      {{/each}}
  {{else}}
    <p>Sorry, no donations available!</p>
  {{/if}}
  </div>
</div>