<h1 class="mt-3">Your donation items</h1>
<div class="p-3 bg-light rounded shadow">
  {{#if donationItems}}
    <table class="table table-light table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Status</th>
          <th>Actions</th>
          <th>Requests</th>
        </tr>
      </thead>
      <tbody>
        {{#each donationItems}}
          <tr>
            <td>{{this.name}}</td>
            <td>{{this.status}}</td>
            <td>
              <a
                href="/donation-items/{{this._id}}/edit"
                class="btn btn-primary"
              >Edit</a>
              <a
                href="/donation-items/{{this._id}}/delete"
                class="btn btn-primary"
              >Delete</a>
            </td>
            <td>
              <a
                href="/donation-items/{{this._id}}/requests"
                class="btn btn-primary position-relative"
              >All Requests
                {{#if this.requestCount}}
                  <span
                    class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                  >
                    {{this.requestCount}}
                    <span class="visually-hidden">unread messages</span>
                  </span>
                {{/if}}
              </a>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{else}}
    <p>You haven't make any donation yet</p>
  {{/if}}
  <a href="/donation-items/new">Create a new donation item</a>
</div>