<h1 class="mt-3">Edit a user</h1>
<div class="rounded shadow bg-light p-3">
  <a href="/users" class="btn btn-primary">Back</a>
<form action="/users/{{user._id}}?_method=PATCH" method="post">
  <label for="firstname" class="form-label">First Name</label><br />
  <input
    type="text"
    class="form-control"
    id="firstname"
    name="firstname"
    required
    minlength="2"
    value="{{user.firstname}}"
  />

  <label for="lastname" class="form-label">Last Name</label><br />
  <input
    type="text"
    class="form-control"
    id="lastname"
    name="lastname"
    required
    minlength="2"
    value="{{user.lastname}}"
  />

  <label for="mobile" class="form-label" >Mobile</label><br />
  <input
    type="text"
    class="form-control"
    id="mobile"
    name="mobile"
    required
    minlength="10"
    maxlength="10"
    value="{{user.mobile}}"
  />
  <label for="role" class="form-label">Role</label><br />
  <select id="role" class="form-select" name="role">
    <option value="DONATOR" {{#if (eq user.role 'DONATOR')}}selected{{/if}}>Donator</option>
    <option value="PANTRY" {{#if (eq user.role 'PANTRY')}}selected{{/if}}>Pantry</option>
    <option value="ADMIN" {{#if (eq user.role 'ADMIN')}}selected{{/if}}>Admin</option>
    <option value="WAREHOUSE" {{#if (eq user.role 'WAREHOUSE')}}selected{{/if}}>Warehouse</option>
  </select>

  <div class="form-group mb-3">
    <label for="streetName">Building Number and Street Name</label>
    <input type="text" class="form-control" name="address[street]" value="{{user.address.street}}" required />
  </div>
  <div class="form-groupmb-3">
    <label for="city">Town or City</label>
    <input type="text" class="form-control" name="address[city]" value="{{user.address.city}}" required />
  </div>
  <div class="form-group mb-3">
    <label for="postcode">Postcode</label>
    <input
      type="text"
      class="form-control"
      name="address[postcode]"
      value="{{user.address.postcode}}"
      required
    />
  </div>

  <label for="email" class="form-label">Email</label><br />
  <input
    type="email"
    class="form-control"
    id="email"
    name="email"
    value="{{user.email}}"
    required
  />
  <input type="submit" value="Update" class="btn btn-primary" />
</form>

{{#if errors}}
  <ul>
    {{#each errors}}
      <div class="alert alert-danger" role="alert">
        {{this}}
      </div>
    {{/each}}
  </ul>
{{/if}}
</div>