<h1>User Details</h1>

<p>First Name: {{user.firstname}}</p>
<p>Last Name: {{user.lastname}}</p>
<p>Role: {{user.role}}</p>
<p>Email: {{user.email}}</p>

<a href="/users/{{user._id}}/edit">Edit User</a>